.subtitle {
  margin-top: 0.3rem;
  opacity: 0.85;
}

.tabs {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.tabs a {
  margin-right: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

.tabs a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 3.5rem;
  max-width: 720px;
}
